header {
    background: #0e2441;
    padding: 10px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
    width: 50%; 
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo img {
    width: 60px;
    float: left;
}

.logo a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    max-width: 250px;
    color: #f9f9f9;
    text-shadow: 2px 2px 1px rgb(0 0 0 / 40%);
    padding: 15px 15px;
}

.register-links {
    order: 2;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    text-align: center;
}

.sign-in, .sign-up {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    color: rgb(29, 161, 242);
    padding: 4px 10px;
    letter-spacing: 0.3px;
    line-height: 21px;
    border: 2px solid rgb(29, 161, 242);
    border-radius: 20px;
    transition: 0.3s ease;
}

.sign-up {
    margin-left: 5px;
}

.sign-in {
    margin-right: 5px;
}

.sign-in:hover, .sign-up:hover {
    background: rgb(29, 161, 242, 0.157);
}





